@import "../../styles/general.scss";

.header {
    height: fit-content;
    background-color: $secondary-color;
    padding-left: 1%;
    padding-right: 1%;
}

.logo {
    height: 80px;
}

.links {
    list-style: none;
}

.links li {
    margin: 10px 15px;
}

.links li a {
    text-transform: capitalize;
    text-decoration: none;
    color: $primary-color;
    font-size: 16px;
}

@media screen and (max-width:700px) {
    .links li {
        margin: 10px 5px;
        font-size: 11px !important;
    }
}
