$primary-color:#009bb1;
$secondary-color:#f8f8f8;

.w-fill{
    width: 100%;
}

.position-relative{
    position: relative;
}

.display-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-end{
    justify-content: flex-end;
}

.align-items-center{
    align-items: center;
}