/* You can add global styles to this file, and also import other style files */

@import "bootstrap-icons/font/bootstrap-icons.css";

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
}

img{
    border-radius: 5px;
}

img::selection{
    background:none;
}